{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    
    <p class="text-center">Vous trouverez sur ce site ma collection de cartes en vente. Cliquez sur la carte qui vous interresse pour m'envoyer une proposition de prix par mail ! </p>
{% endblock %}
